@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root{ 
  background: #000;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}